Hello, <%= @turn.player_name %>!

<form action="/play" method="post">
  <input type="submit" name="shape" value="Rock">
  <input type="submit" name="shape" value="Paper">
  <input type="submit" name="shape" value="Scissors">
</form>

You chose <%= @turn.player_shape %>!

<div id="opponent">
  Opponent chose <%= @turn.opponent_shape.to_s.capitalize %>!
</div>


<% if @turn.opponent_shape %>
  <% if @turn.draw? %>
    You draw!
  <% elsif @turn.win? %>
    You win!
  <% else %>
    You lose!
  <% end %>
<% end %>

